* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 0 auto;
    position: center;
    min-height: 100vh;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 220px;
    width: 100%;
}
.right-section {
    display: flex;
    align-items: center;
}
.right-section ul {
    list-style: none;
    display: flex;
}
.road-assistance {
    display: flex;
    padding-left: 20px;
}
.right-section ul li {
    margin-right: 20px;
}
.right-section ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.right-section .navigation {
    border-right: 2px solid #ccc;
}
.road-assistance .icon {
    margin-right: 10px;
}
.Hero {
  display:flex;
  Justify-content: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  padding: 50px 220px;
  
}
.Content-1 {
  Font-Family: Sans-serif;
  width: 65%;
  height: 70%;
  padding-top: 30px;

}
.Content-1 h1 {
  Font-size: 42px;
  font-weight: 550;
  Line-height: 50px;
  padding-top: 40px;
  width: 400px
}
.Content-1 button{
  background: #FF6433;
  color: white;
  Height: 40px;
  width: 120px;
  border: 0px;
  border-radius: 8px;
  Padding: 14px;
  margin: 20px 0;
}
.info {
  display: flex;
}
.Content-1 img {
  padding-right: 7px;
  padding-top: 2px;
  width: 30px;
  height: 30px;
}
.info p {
  font-size: 12px;
  line-height: 18px;
}
p span.open{
  color: gray;
}
p span.days{
  font-weight: bold;
}
.Content-2 {
  width: 70%;
  height: 80vh;
  margin-right: 60px;
}
.Content-2 img{
  width: 140%;
  height: 80vh;
}
.Offers {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #E2E6E9;
}
.Frame-1 {
  width: 30%;
  margin: 80px 0;
  margin-left: 220px;
  font-family: Sans-serif;
}
.h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
.conSer {
  display: flex;
  padding-bottom: 20px;
}
.expMech {
  display: flex;
  padding-bottom: 20px;
}
.transPri {
  display: flex;
  padding-bottom: 20px;
}
.image {
  padding-right: 15px;
}
.image img {
  width: 30px;
  height: 30px;
}
.contents h3 {
  padding-bottom: 10px;
}
.contents p {
  line-height: 24px;
  font-size: 10px;
}
.About-us {
  display: flex;
}
.about p{
  margin-left: 45px;
  padding-right: 15px;
  font-size: 16px;
}
.arrow img{
  height: 10px;
}
.Frame-2 {
  width: 30%;
  margin: 80px 0;
  margin-right: 220px;
}
.Input {
  Padding: 20px 0;
}
.Input input{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45px;
  padding: 10px 0;
  padding-left: 20px;
  margin-bottom: 2px;
  border: 0;
}
.Quotation h1 {
  font-size: 32px;
  font-weight: 300rm;
  margin-bottom: 10px;
}
.button input{
  background: #FF6433;
  color: white;
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 8px;
}
.Offer2 {
  width: 100%;
  height: 80vh;
  display: flex;
}
.container-1{
  width: 30%;
  height: 50vh;
  margin-left: 12%;
  margin-top: 15%;
  margin-bottom: 5%;
}
.count-box h1{
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 700;
  width: 340px;
}
.count-box p {
  padding: 20px 0;
  color: #1E1B1B;
  font-size: 14px;
  
}
.container-2 {
  height: 50vh; 
  padding: 100px 130px;
}
.container-2 .cont{
    display: flex;
    margin-bottom: 20px;
    padding: 0;
}
.cont img {
    width: 40px;
    height: 40px;
    padding-right: 8px;
}
.cont p{
    font-size: 14px;
    width: 230px;
    color: #1E1B1B;
    padding: 10px 0;
    line-height: 20px;
}
.Service-Page {
  background-color: #E2E6E9;
  width: 100%;
  height: 100vh;
  margin-top: 80px;
}
.Framer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-1 {
  text-align: center;
  padding-top: 110px;
}
.box-1 p {
  padding-top: 10px;
  font-weight: bold;
}
.box-1 h1 {
  text-align: center;
  font-size: 34px;
  font-weight: bold; 
  padding: 10px 0 40px 0;
  width: 40%;
  height: 40%;
  margin:0 30%;
}
.box-2 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.serv {
  text-align: center;
  padding: 30px;
  background: white;
  margin: 3px;
}
.serv img {
  align-items: center;
  width: 20px;
  height: 20px;
}
.serv p {
  width: 110px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
}
.serv-wheel {
  text-align: center;
  padding: 30px;
  background: #FF6433;
  margin: 3px;
}
.serv-wheel img {
  align-items: center;
  width: 20px;
  height: 20px;
}
.serv-wheel p {
  width: 110px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding-top: 10px;
}
.Learn-more {
  display: flex;
  align-items: center;
  margin-left: 68.5%;
  padding-top: 8px;
}
.arrows img{
  padding-left: 4px;
  width: 30px;
  
}
.learn p {
  font-size: 10px;
  font-weight: bold;
}
.CTA {
  width: 100%;
  height: 50vh;
}
.background {
  display: flex;
  
}
.imgs img {
  width: 631px;
  height: 50vh;
}
.float {
  position: absolute;
  background: #FF6433;
  width:30%;
  height: 50vh;
  margin: 0 70px 0 230px;
}
.float h1 {
  padding: 70px 40px 30px 40px;
  color: white;
  font-size: 26px;
}
.float input {
  margin: 0 40px 70px;
  padding: 10px 20px;
  background: #000;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 24rm;
}
.experience {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 170px;
  height: 15vh;
  background: #E2E6E9;
}
.Number h1 {
  color: #661CE7;
  font-size: 36px;
  font-weight: 800;
}
.Number p {
  color: #1E1B1B;
  font-size: small;
}
.Brands {
  height: 75vh;
  background: #FAFAFA;
  padding: 60px 0 40px;
}
.head {
  text-align: center;
}
.head h1 {
  font-size: 28px;
}
.Group-1 {
  display: flex;
  justify-content: space-between;
  margin: 10px 230px 0;
}
.Group-2 {
  display: flex;
  justify-content: space-between;
  margin: 30px 230px 0px;
}
.logo1 img {
  width: 110px;
  height: 110px;
}
.Testimonial {
  height: 100vh;
  padding: 70px 0 40px;
  background: #F2F2F2;;
}
.customer h1 {
  padding: 0 400px 20px;
  text-align: center;
  font-size: 32px;
}
.Customer-review {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 50px 250px 0;
  height: 208px;
}
.review img {
  width: 360px;
  height: 200px;
  background: white;
  padding: 30px; 
}
.see-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 590px;
  margin-right: 250px;
}
.line1 img {
  width: 100px;
}
.slider {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.left img {
  width: 32px;
  height: 32px;
}
.right img {
  width: 44px;
  height: 44px;
  margin-left: 18px;
}
.FAQ {
  width: 100%;
  height: 110vh;
  background: #E2E6E9;
}
.heading-1 {
  text-align: center;
  padding: 90px 0 50px;
  font-size: 20px;
  font-weight: medium;
}
.Questions {
  display: flex;
  flex-direction: column;
}
.Que {
  margin: 0 350px 5px;
  padding: 20px 20px;
  background: white;
  
}
.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle img {
  width: 25px;
  height: 25px;
}
.toggle h6 {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.Que p {
  color: #ccc;
  padding-bottom: 10px;
  width: 410px;
  text-align: left;
  font-size: 12px;
}
.Footer-top {
  width: 100%;
  height: 60vh;
  background: #1E1B1B;
  opacity: 0.98;
  color: white;
  display: flex;
}
.left-side {
  margin-left: 290px;
  margin-right: 40px;
}
.header-1 h1 {
  padding: 50px 0 50px 0;
  width: 290px;
  font-size: 32px;
}
.Social-media {
  display: flex;
}
.icons img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.right-side {
  margin-right: 230px;
  margin-left: 80px;
  padding: 40px 0;
}
.Infor {
  padding: 10px 0;
} 
.Infor p{
  font-size: 10px;
  opacity: 0.6;
}
.Infor h4{
  font-size: 14px;
  line-height: 28px;
 
}
.Footer-bottom {
  background: #1E1B1B;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
} 
.identity img {
  width: 80px;
  height: 20px;
  margin-left: 90px;
}
.navi-bar {
  display: flex;
  align-items: center;
  color: white;
  padding: 20px;
  margin-left: 40px;
}
.navi-bar a {
  color: white;
  padding-right: 10px;
  font-size: 12px;
}
.copyright p{
  font-size: 10px;
  opacity: 0.6;
}
@media (max-width: 428px) {
  .container {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .main-header {
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 15px;
    width: 100%;
    margin: 0;
  }
  .right-section {
    width: 100%;
  }
  .right-section .navigation {
    border: 0;
    width: 100%;
  }
  .right-section ul {
    flex-direction: row;
    justify-content: space-between; 
  }
  .right-section ul li {
    margin: 5px 0;
  }
  .right-section ul li a {
    font-size: 16px;
    margin: 5px 0;
  }
  .road-assistance {
    display: none;
  }
  .Hero {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px 10px;
    min-height: 90vh;
    height: 0;
    width: 100%;
  }
  .Content-1 {
    width: 100%;
    height: 30vh;
    padding-top: 0;
  }
  .Content-2 {
    width: 100%;
    height: 50vh;
  }
  .Content-1 h1 {
    width: 100%;
    font-size: 28px;
    line-height: 32px;
    text-align: left;
    padding-top: 10px;
  }
  .Content-1 button {
    font-size: 8px;
    width: 80px;
    height: 30px;
    padding: 10px;
    margin: 2px 0;
  }
  .Content-1 img {
    width: 32px;
    height: 32px;
  }
  .info {
    display: flex;
    padding-top: 10px;
  }
  .info p {
    font-size: 16px;
    line-height: 18px;
  }
  .Content-2 img {
    width: 100%;
    height: 50vh;
  }
  .Offers {
    width: 100%;
    flex-direction: column;
    padding: 20px 20px;
    min-height: 100vh;
  }
  .Frame-1 {
    margin: 0;
    width: 100%;
  }
  .h1 {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-right: 0;
    text-align: left;
  }
  .image {
    padding-right: 5px;
  }
  .image img {
    width: 24px;
    height: 24px;
  }
  .contents {
    width: 100%;
  }
  .contents h3 {
    font-size: 16px;
    padding-bottom: 5px;
  }
  .contents p {
    width: 100%;
    font-size: 10px;
    line-height: 16px;
  }
  .conSer {
    width: 100%;
    padding-bottom: 10px;
  }
  .expMech {
    padding-bottom: 10px;
  }
  .transPri {
    padding-bottom: 10px;
  }
  .About-us {
    display: none;
  }
  .Frame-2 {
    width: 100%;
    margin: 0;
  }
  .Quotation h1 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 0;
  }
  .Input {
    width: 100%;
    padding: 5px 0;
  }
  .Input input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    padding: 0;
    padding-left: 20px;
    margin-bottom: 2px;
    border: 0;
    font-size: 10px;
  }
  .button input {
    font-size: 8px;
    width: 80px;
    height: 30px;
    padding: 10px;
    margin: 10px 0 5px;
  }
  .Offer2 {
    width: 100%;
    min-height: 100vh;
    padding: 20px 15px;
    height: 60vh;
    flex-direction: column;
  }
  .container-1 {
    width: 100%;
    margin: 0;
    height: 35vh;
  }
  .count-box h1 {
    font-size: 24px;
  }
  .count-box p {
    padding: 5px 0;
    font-size: 16px;
  }
  .container-2 {
    width: 100%;
    padding: 10px 0 0 0;
  }
  .container-2 .cont {
    width: 100%;
    margin-bottom: 10px;
  }
  .content{
    width: 100%;
  }
  .cont img {
    width: 28px;
    height: 28px;
  }
  h2 {
    font-size: 24px;
  }
  .cont p {
    font-size: 16px;
    line-height: 24px;
    padding: 2px 0;
    width: 100%;
  }
  .box-1 {
    padding-top: 0;
  }
  .box-1 h1 {
    margin: 10px;
    padding: 0;
    width: 100%;
    font-size: 16px;
  }
  .Service-Page {
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
    margin-top: 0;
  }
  .Framer {
    height: 60vh;
    
  }
  .box-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .serv {
    padding: 20px;
    width: 40%;
    height: 80px;
  }
  .serv img {
    width: 16px;
    height: 16px;
  }
  .serv p {
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
  }
  .serv-wheel {
    padding: 5px;
    width: 40%;
    height: 80px;
  }
  .serv-wheel img {
    width: 24px;
    height: 24px;
  }
  .serv-wheel p {
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
  }
  .Learn-more {
    display: none;
  }
  .CTA {
    width: 100%;
    height: 20vh;
  }
  .background {
    width: 100%;
    height: 20vh;
  }
  .imgs {
    width: 100%;
    height: 20vh;
  }
  .imgs img {
    width: 100%;
    height: 20vh;
  }
  .float {
    margin: 0 70px 0 90px;
    height: 20vh;
    width: 180px;
  }
  .float h1 {
    padding: 20px 10px 5px;
    font-size: 10px;
  }
  .float input {
    font-size: 8px;
    width: 60px;
    height: 20px;
    padding: 5px;
    margin: 5px 10px;
  }
  .experience {
    min-height: 30vh;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20px;
  }
  .Number {
    width: 50%;
    padding: 20px 20px;
  }
  .Number h1 {
    font-size: 16px;
  }
  .Number p {
    font-size: 14px;
  }
  .Brands {
    width: 100%;
    padding: 20px 10px;
    min-height: 100vh;
  }
  .head h1 {
    font-size: 24px;
  }
  .Group-1 {
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Group-2 {
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo1 {
    width: 30%;
  }
  .logo1 img {
    width: 100%;
  }
  .head h1 {
    font-size: 16px;
  }
  .Testimonial {
    width: 100%;
    padding: 30px 10px;
    min-height: 100vh;
  }
  .customer {
    margin: 0 50px 30px;
  }
  .customer h1 {
    font-size: 24px;
    padding: 0 20px;
    width: 100%;
    padding: 0;
  }
  .Customer-review {
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
  }
  .review {
    height: 150px;
    width: 70%;
  }
  .review img {
    width: 100%;
    height: 150px;
    padding: 5px;
  }
  .see-more {
    display: none;
  }
  .FAQ {
    width: 100%;
    height: 75vh;
    padding: 20px;
  }
  .heading-1 {
    font-size: 12px;
    padding: 0 10px 10px;
  }
  .Questions {
    height: 60vh;
  }
  .Que {
    height: 65px;
    width: 70%;
    margin: 5px 60px 0;
    padding: 10px;
  }
  .Que p {
    font-size: 8px;
    width: 220px;
  }
  .toggle h6 {
    font-size: 12px;
  }
  .toggle img {
    width: 16px;
    height: 16px;
  }
  .Footer-top {
    width: 100%;
    height: 50vh;
  }
  .left-side {
    margin: 20px;
  }
  .right-side {
    padding: 0;
    margin: 20px 10px;
  }
  .header-1 h1 {
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }
  .Social-media {
    margin-left: 10px;
  }
  .icons img {
    width: 10px;
    height: 10px;
    margin-right: 7px;
  }
  .right-side {
    width: 50%;
    padding: 10px 0;
  }
  .Infor p {
    font-size: 8px;
  }
  .Infor h4 {
    font-size: 8px;
    line-height: 12px;
  }
  .Footer-bottom {
    width: 100%;
    padding: 10px 20px;
  }
  .identity img {
    margin: 0;
  }
  .navi-bar {
    display: none;
  }
}

@media (max-width: 769px) and (min-width: 500px) {
  .main-header {
    width: 100%;
    padding: 10px 40px;
    margin-bottom: 0px;
  }
  .right-section {
    margin-left: 10px;
  }
  .right-section .navigation {
    border: none;
  }
  .right-section ul li {
    margin-right: 0 10px;
  }
  .right-section .ul {
    font-size: 8px;
  }
  .road-assistance {
   display: none;
  }
  .road-assistance .icon img{
    display: none;
  }
  .road-assistance .inner-section p{
    display: none;
  }
  .Hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 10px 40px;
    width: 100%;
  }
  .Content-1 {
    width: 50%;
    height: 50vh;
    padding-top: 40px;
  }
  .service {
    height: 22vh;
    width: 100%;
  }
  .Content-1 h1 {
    font-size: 24px;
    font-weight: 800;
    width: 100%;
    line-height: 28px;
    padding-top: 0px;
  }
  .Content-1 img {
    height: 32px;
    width: 32px;
    padding: 2px 7px 0 0;
  }
  .Content-1 button {
    font-size: 12px;
    height: 32px;
    width: 100px;
    padding: 10px;
    margin: 15px 0;
    background: #FF6433;
    color: white;
    border: 0px;
    border-radius: 6px;
  }
  .info p {
    font-size: 16px;
    line-height: 24px;
  }
  .Content-2 {
    margin-right: 0;
    width: 50%;
    height: 50vh;
  }
  .Content-2 img {
    width: 350px;
    height: 50vh;
  }
  .Offers {
    padding: 50px 40px;
    width: 100%;
    height: 80vh;
  }
  .Frame-1 {
    margin: 0;
    width: 50%;
  }
  .conSer {
    padding-bottom: 10px;
  }
  .expMech {
  padding-bottom: 10px;
  }
  .transPri {
    padding-bottom: 10px;
  }
  .About-us {
    display: none;
  }
  .h1 {
    font-size: 16px;
    width: 100%;
    line-height: 28px;
    font-weight: 100;
    padding-top: 0px;
    margin-bottom: 13px;
  }
  .image {
    padding-right: 8px;
  }
  .image img { 
    width: 24px;
    height: 24px;
  }
  .contents h3 {
    font-size: 14px;
    padding-bottom: 5px;
  }
  .contents p {
    font-size: 12px;
    line-height: 16px;
  }
  .Frame-2 {
    margin: 0 0 0 10px;
    width: 50%;
  }
  .Quotation h1 {
    font-size: 18px;
    margin-bottom: 5px;
    width: 70%;
    line-height: 18px;
    font-weight: bold;
    padding-top: 15px;
  }
  .Input {
    width: 90%;
    padding: 10px 0;
  }
  .Input input {
    font-size: 12px;
    padding: 10px;
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
  }
  .button input {
    font-size: 12px;
    height: 32px;
    width: 100px;
    padding: 10px;
    margin: 15px 0;
    background: #FF6433;
    color: white;
    border: 0px;
    border-radius: 6px;
  }
  .Offer2 {
  width: 100%;
  height: 80vh;
  padding: 50px 40px;
  }
  .container-1 {
    width: 50%;
    height: 40vh;
    padding: 0;
    margin: 0;
  }
  .count-box h1 {
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    line-height: 24px;
    padding-top: 0px;
  }
  .count-box p {
    padding: 10px 0;
    font-size: 16px;
    color: #1E1B1B;
    line-height: 20px;
  }
  .container-2 {
  width: 50%;
  height: 40vh;
  padding: 0;
  }
  .container-2 .cont {
    margin: 0 0 10px 5px;
  }
  .cont img {
    width: 32px;
    height: 32px;
    padding-right: 10px;
  }
  h2 {
    font-size: 20px;
  }
  .cont p {
    padding: 5px 0;
    font-size: 16px;
    line-height: 18px;
    width: 80%;
    color: #1e1b1b;
  }
  .Service-Page {
  width: 100%;
  height: 90vh;
  margin-top: 0;
  padding: 35px 20px;
  }
  .box-1 {
    padding: 0;
  }
  .box-1 p {
    padding: 0;
  }
  .box-1 h1 {
    margin: 0;
    font-size: 24px;
    padding: 5px 0 18px;
    width: 100%;
  }
  .box-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60vh;
  }
  .line {
    display: flex;
    flex-direction: column;
  }
  .serv {
    padding: 15px;
    margin: 5px;
  }
  .serv img {
    width: 16px;
    height: 16px;
  }
  .serv p {
    width: 80px;
    font-size: 10px;
    padding-top: 5px;
    height: 20px;
  }
  .serv-wheel {
    padding: 15px;
    margin: 5px;
  }
  .serv-wheel img {
    width: 16px;
    height: 16px;
  }
  .serv-wheel p {
    width: 80px;
    font-size: 10px;
    padding-top: 5px;
    height: 20px;
  }
  .Learn-more {
    display: none;
  }
  .CTA {
    width: 100%;
    height: 40vh;
  }
  .background {
    justify-content: space-between;
    height: 40vh;
    width: auto;
  }
  .imgs {
    width: 50%;
    height: 40vh;
  }
  .imgs img {
  width: 100%;
  height: 40vh;
  }
  .float {
  width: 40%;
  margin: 0 180px;
  height: 40vh;
  }
  .float h1 {
  padding: 30px 20px 10px;
  font-size: 20px;
  width: 240px;
  margin: 0;
  }
  .float input {
  font-size: 8px;
  height: 28px;
  width: 70px;
  padding: 10px;
  background: #1E1B1B;
  color: white;
  border: 0px;
  border-radius: 6px;
  margin: 0 20px;
  }
  .experience {
    width: 100%;
    padding: 0 70px;
    height: 20vh;
  }
  .Number {
    padding-right: 10px;
    width: 80px;
  }
  .Number h1 {
    font-size: 24px;
  }
  .Number p {
    font-size: 16px;
    width: 70px;
  }
  .Brands {
  width: 100%;
  padding: 40px 20px 20px;
  height: 60vh;
  }
  .Logos {
    width: 80%;
    margin: 0 70px;
  }
  .Group-1 {
    margin: 0;
    height: 80px;
  }
  .Group-2 {
    margin: 0;
    height: 80%;
  }
  .Testimonial {
    width: 100%;
    height: 60vh;
    padding: 20px;
  }
  .customer h1 {
    font-size: 24px;
    padding: 10px;
  }
  .Customer-review {
    margin: 10px;
    justify-content: space-around;
  }
  .review img {
    padding: 30px;
    width: 90%;
  }
  .see-more {
  display: none;
  }
  .slider {
  padding-left: 10px;
  }
  .left img {
  width: 24px;
  height: 24px;
  }
  .right img {
  width: 36px;
  height: 36px;
  margin-left: 14px;
  }
  .FAQ {
    width: 100%;
    height: 100vh;
    padding: 20px;
  }
  .heading-1 {
    font-size: 16px;
    padding: 0 0 15px;
  }
  .Que {
  margin: 0 120px 5px;
  }
  .Footer-top {
  height: 60vh;
  width: 100%;
  }
  .left-side {
  margin: 0 40px;
  }
  .right-side {
  margin: 0;
  }
  .Infor h4 {
    line-height: 18px;
  }
  .Footer-bottom {
  width: 100%;
  padding: 10px;
  }
  .identity img {
  margin-left: 20px;
  }
  .navi-bar {
  margin-left: 0;
  }
  .copyright p {
  margin-right: 50px;
  }
}